@{
  ViewData["Title"] = "About";
}


  <!-- ======= About Section ======= -->
  <section id="aboutpage" class="portfolio section-bg1 mypage about">
     <div class="container section-title">
        <h2>About Me</h2>
        <p></p>
      </div>
  </section><!-- End About Section -->

    <div class="container">
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="~/img/binhprofile1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Software Developer &amp; Software Engineer.</h3>
          
          <div class="text-justify-align">
      <p>Hi, my name is Binh and I currently reside in NSW, Australia. I have over 10 years of experience in software development and have worked for a solutions and services company called Vigilant Video, which is now a Motorola Solutions Company. During my time as a developer at Vigilant Video, I have played a vital role in developing various products using languages such as C++, C#, .Net, ASP.Net, HTML/CSS/JavaScript, and Bootstrap. I am also well-versed in databases like SQL Server, MySQL/MariaDB. Apart from these, I am also familiar with NodeJs, ReactJs, Docker, CI/CD, and Flutter. </p>
          I have been working with the company since its startup days, so I am accustomed to the fast-paced working environment and keep up with it. I am passionate about learning new technologies and consider myself a quick learner. I am always on the lookout for new things and challenges, as I enjoy pushing myself to expand my knowledge and skills. For the details please take a tour to my 
          <a href="@Url.Action("Resume", "Home")" class="scrollto"><span>resume page</span> </a>  and 
          <a href="@Url.Action("Project", "Home")" class="scrollto"><span>project page</span></a>.
          </div>
        </div>
      </div>

    </div>

@* @section Scripts {
     <script src="~/js/site1.js" asp-append-version="true"></script>
     <script type="text/javascript" >toggleNavMenu("about");</script>
} *@
@* <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site1.js" asp-append-version="true"></script>
<script type="text/javascript">toggleNavMenu("about");</script> *@
