@{
    ViewData["Title"] = "Contact";
}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg1">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>
                Please drop me a line to my contact below if you would interest to talk to me.
            </p>
        </div>
      

    </div>
</section>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h2>Contact Information</h2>
        <p>Feel free to reach out to me!</p>

        <div class="mt-4">
          <p>Email: <a href="mailto:binhminhtn@gmail.com">binhminhtn@gmail.com</a></p>
          <p>Phone: <a href="tel:+61411794968">0411 794 968</a></p>
        </div>

        <div class="mt-4">
          <a href="mailto:binhminhtn@gmail.com" class="btn btn-primary"><i class="bi bi-envelope"></i> Email me</a>
          <a href="tel:+61411794968" class="btn btn-success"><i class="bi bi-phone"></i> Call me</a>
        </div>
      </div>
    </div>
  </div>