@{
  ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<div id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Hello there and welcome.</h1>
    <p>Thank you for your time to take a tour on my portfolio website.<br>I'm a developer. <br>If you see any weird thing on this website...<br> It is <span class="typed"
        data-typed-items="a featured, not a bug"></span></p>
  </div>
</div><!-- End Hero -->
