@{
    ViewData["Title"] = "Project";
}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg1 mypage project">
    <div class="container">

        <div class="section-title">
            <h2>Projects/Products</h2>
            <p>
                By actively contributing to the development of various products, I seized the opportunity to delve into new technologies and confront intriguing challenges. This dynamic experience fueled my willingness to explore different facets of the industry and engage with diverse projects.
            </p>
        </div>

      
    </div>

</section>


<section id="auhpoc" class="auhpoc">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>AUH Patrol Project</u></strong></h4>
            <p>
                Starting time: around 2019, current status: done
            </p>
        </div>
        <div class="container">
            <div class="text-center">
                @* <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SFWCDUArMGs?rel=0"
                allowfullscreen></iframe>
                </div> *@
                <img src="~/img/auhpoc.jpg" class="img-fluid" alt="">
                <p class="fst-italic">AUH Police Patrol Project</p>
            </div>
            <div class=" content" data-aos="fade-left">
                <h5>Introduction</h5>
                <div class="container">
                    <p>
                        AUH Police Patrol Project was the project that working on the ANPR engine feature enhancement to
                        meet the tender/poc requirements. After 3-4 months, we were achieving a remarkable 90% accuracy. This accomplishment secured a contract worth 1.5 million USD, unlocking vast potential for future projects in the region.
                    </p>
                </div>

                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C++ (Standard), C#.net</strong></li>
                            <li><strong>MySQL</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual Studio</strong></li>
                            <li><strong>TFS,GitHub</strong></li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Team Leader</strong> In the capacity of Team Leader, I spearheaded pivotal initiatives to enhance project outcomes and drive innovation. My multifaceted responsibilities encompassed:</p>
                    <ul>
                        <li><strong>Technology Research and Implementation:</strong> Conducted extensive research on cutting-edge technologies, identifying and applying optimal solutions for project requirements. Stayed abreast of industry trends to ensure the integration of the latest advancements.</li>
                        <li><strong>Collaboration with AI developer:</strong> Orchestrated seamless collaboration with AI developers to curate and supervise data training processes. Provided clear directives and strategic guidance to ensure the effective training of data in alignment with project goals.</li>
                        <li><strong>Tool Development for Data Testing and Collection:</strong> Engineered purpose-built tools designed to streamline data testing and collection processes. These tools not only expedited data-related tasks but also improved overall efficiency.</li>
                        <li><strong>Collaboration with Testing and Support Teams:</strong> Worked in tandem with testing and support teams to orchestrate the labeling of data. Ensured a cohesive and coordinated effort to maintain data accuracy and quality throughout the project lifecycle.</li>
                        <li><strong>Integration of Models:</strong> Led the integration efforts to seamlessly incorporate AI models into the CarDetector product. Coordinated with cross-functional teams to ensure a smooth and successful final release.</li>
                    </ul>
                    <p>Developer team member: 2.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="lds" class="lds section-bg ">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>Diagnostic System Product</u></strong></h4>
            <p>
                Starting time: around 2016, current status: active
            </p>
        </div>
        <div class="container">

            <div class="text-center">
                @* <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SFWCDUArMGs?rel=0"
                allowfullscreen></iframe>
                </div> *@
                <img src="~/img/diagnosticsystem.png" class="img-fluid" alt="">
                <p class="fst-italic">LADS product</p>
            </div>
            <div class=" content" data-aos="fade-left">
                <h5>Introduction</h5>
                <div class="container">
                    <p>
                        <strong>Diagnostic System (LADS)</strong> is the web-based application that provides ability to
                        diagnose the ANPR cameras operation, giving alert if the cameras are working under performance.
                        User can login to the system to monitor the status from Dashboard...
                    </p>
                </div>

                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C#.NetCore, MVC</strong></li>
                            <li><strong>Html,Javascript,CSS</strong></li>
                            <li><strong>jQuery & Bootstrap</strong></li>
                            <li><strong>SQL Server</strong></li>
                            <li><strong>ItextSharp</strong></li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual Studio, VSCode</strong></li>
                            <li><strong>TFS,GitHub</strong></li>
                            <li><strong>NUnit</strong></li>
                            <li><strong>RabbitMQ</strong></li>
                            <li><strong>IIS</strong></li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Team Leader/FullStack Developer:</strong>
                    In the capacity of a FullStack Developer, I played a key role in the development lifecycle, contributing to the enhancement of system functionalities. My responsibilities included:
                    </p>
                    <ul >
                        <li><strong>Development and Implementation:</strong> Spearheaded the design, development, and implementation of critical system functionalities. Leveraged a comprehensive skill set to create robust solutions that met project requirements and user expectations.</li>
                        <li><strong>Agile Development Practices:</strong> Adhered to Agile methodologies by actively participating in Jira Sprints and Stories. Ensured alignment with project timelines and collaborated seamlessly with cross-functional teams for efficient project delivery.</li>
                        <li><strong>Export and Reporting Functionality:</strong> Specialized in features related to data export and reporting, enhancing the system's capabilities in providing users with valuable insights. Designed and implemented solutions to facilitate seamless data export and reporting processes.</li>
                        <li><strong>Performance Improvement and Debugging:</strong> Proactively engaged in tasks related to system performance improvement. Conducted rigorous debugging activities to identify and rectify issues, ensuring a smooth and optimized user experience. Actively contributed to bug-fixing initiatives for enhanced system reliability.</li>
                    </ul>
                    <p>Developer team member: 2</p>
                </div>

            </div>
        </div>
    </div>
</section>

</section>
<section id="learn" class="learn">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>LEARN/Plate-Search Product</u></strong></h4>
            <p>
                Starting time: around 2012, current status: active
            </p>
        </div>
        <div class="container">

            <div class="text-center">
                @* <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SFWCDUArMGs?rel=0"
                allowfullscreen></iframe>
                </div> *@
                <img src="~/img/vigilantlearn.png" class="img-fluid" alt="">
                <p class="fst-italic">LEARN product</p>
            </div>
            <div class="content" data-aos="fade-left">
                <h5>Introduction</h5>
                <div class="container text-justify-align">
                    <p>
                        <strong>LEARN or PlateSearch</strong> is the web-based application and provides a license plate
                        recognition (LPR) management and analytic platform of unmatched capabilities. LEARN provides
                        agencies with an easy way to manage users and vehicle hotlists, query historical license plate
                        reader (LPR) data and used advanced analytics for enhanced investigations. Because LEARN is a
                        hosted solution, data sharing and interoperability with other law enforcement agencies is
                        inherently simplified.
                        <br>
                        LEARN transforms disparate sets of data into actionable intelligence. Data such as Fixed LPR,
                        Mobile LPR, as well as Vigilant''s own network of private LPR data are merged together with
                        powerful analytics and condensed into meaningful and visual intelligence – intelligence that
                        will protect officers, families, and communities, and ultimately save lives.
                    </p>

                </div>

                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C#.Net, ASP.Net</strong></li>
                            <li><strong>Html,Javascript,CSS</strong></li>
                            <li><strong>jQuery & Bootstrap</strong></li>
                            <li><strong>SQL Server</strong></li>
                            <li><strong>ItextSharp</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual Studio, VSCode</strong></li>
                            <li><strong>TFS,GitHub</strong></li>
                            <li><strong>Visual Assist</strong></li>
                            <li><strong>IIS</strong></li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Senior Back-end Developer</strong></p>
                    <ul>
                        <li><strong>Functionalities Development:</strong> development, and seamless implementation of advanced functionalities, enhancing the overall capability and user experience of the system.</li>
                        <li><strong>Agile Methodology Adherence:</strong> Meticulously followed Agile methodologies, actively participating in Jira Sprints and Stories. Ensured a collaborative and adaptive development approach in alignment with project objectives.</li>
                        <li><strong>SQL Server Expertise:</strong> Showcased proficiency in SQL Server, actively involved in crafting stored procedures, views, triggers, and jobs. Leveraged a deep understanding of database architecture to ensure optimal data management.</li>
                        <li><strong>Performance Optimization and Debugging:</strong> participated in initiatives focused on performance improvement of database or services, actively engaging in debugging processes to identify and resolve issues. Applied a meticulous approach to bug-fixing, ensuring system robustness.</li>

                    </ul>
                    <p>Developer team member: 6</p>
                </div>
            </div>
        </div>
    </div>
</section>

</section>
<section id="cd" class="cd section-bg ">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>CarDetector LPR Product</u></strong></h4>
            <p>
                Starting time: around 2010, current status: active
            </p>
        </div>
        <div class="container">

            <div class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SFWCDUArMGs?rel=0"
                        allowfullscreen></iframe>
                </div>
                <p class="fst-italic">CarDetector products</p>
            </div>
            <div class="content" data-aos="fade-left">
                <h5>Introduction</h5>
                <div class="container text-justify-align">
                    <p>
                        <strong>CarDetector</strong> was the application of the Automatic number-plate recognition
                        (ANPR) product.
                        It pull the ANPR cameras stream and capturing the license plate using powerful image processing
                        algorithm & AI and matching with enrolled watch-list for alerting. It can manage the huge number
                        of LPR records and enrolled record list. It aslo provided the search and report/export ability.
                        There are many branch of CarDetector: Fixed, Mobile (Windows & Linux), SDK.
                    </p>
                </div>

                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C++ (MFC & Standard), C#.Net(Standard/Winforms/WPF)</strong></li>
                            <li><strong>Html & Javascript</strong></li>
                            <li><strong>MySQL</strong></li>
                            <li><strong>ItextSharp</strong></li>
                            <li><strong>C#.NetCore, NodeJs & Flutter</strong></li>
                            <li><strong>GoogleAPI</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual Studio, VSCode</strong></li>
                            <li><strong>Visual SourceSafe,TFS,GitHub</strong></li>
                            <li><strong>Visual Assist</strong></li>
                            <li><strong>RabbitMQ</strong></li>
                            <li><strong>IIS</strong></li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Senior Developer</strong></p>
                    <ul>
                        <li><strong>Agile Methodology Adherence:</strong> Meticulously followed Agile methodologies, actively participating in Jira Sprints and Stories. Ensured a collaborative and adaptive development approach in alignment with project objectives.</li>
                        <li><strong>Software UI and Functionality Development:</strong> Led the design, development, and seamless implementation of software user interfaces and functionalities. Crafted intuitive and user-centric designs to enhance the overall user experience.</li>
                        <li><strong>WebAPI (REST) Services Development:</strong> Developed WebAPI (REST) services, ensuring the creation of robust and scalable integrating solutions. Applied best practices to facilitate seamless communication between different components of the system.</li>
                        <li><strong>Image Processing and AI Environment:</strong> Worked proficiently in image processing and AI environments, contributing to the integration of cutting-edge technologies. Applied AI principles to enhance system capabilities and ensure optimal performance.</li>
                        <li><strong>Integration of LPR OCR Engine:</strong> Orchestrated the seamless integration of License Plate Recognition (LPR) Optical Character Recognition (OCR) engines into the system. Ensured the efficient functioning of OCR technology for accurate plate recognition.</li>
                        <li><strong>Performance Optimization and Debugging:</strong> Took charge of initiatives focused on performance improvement, actively engaging in debugging processes to identify and resolve issues. Applied a meticulous approach to bug-fixing, ensuring the system's reliability.</li>
                    </ul>
                    <p>Developer team member: 7</p>
                </div>
            </div>
        </div>
    </div>

</section>

</section>
<section id="facesearch" class="facesearch">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>FaceSearch Product</u></strong></h4>
            <p>
                Starting time: around 2011, current status: active
            </p>
        </div>
        <div class="container">

            <div class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XWNIiZsLU8I?rel=0"
                        allowfullscreen></iframe>
                </div>
                <p class="fst-italic">FaceSearch product</p>
            </div>
            <div class="" data-aos="fade-left">
                <h5>Introduction</h5>

                <div class="container text-justify-align">
                    <p>
                        <strong>FaceSearch</strong> was the Web-based version of the Facial Detection and Facial
                        Recognition product.
                        It got still images from many input sources to capture the faces (using image processing
                        algorithm & AI) and matching with enrolled watch-list for alerting. It can manage the huge
                        number of face records and enrolled record list. It aslo provided the search and report/export
                        ability.
                    </p>
                </div>
                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C#.Net, ASP.net</strong></li>
                            <li><strong>Html,Javascript & CSS</strong> </li>
                            <li><strong>jQuery,Bootstrap</strong> </li>
                            <li><strong>SQL Server, MySQL</strong></li>
                            <li><strong>ItextSharp</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual Studio</strong></li>
                            <li><strong>Visual SourceSafe</strong></li>
                            <li><strong>Visual Assist</strong></li>
                            <li><strong>IIS</strong></li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Back-End Developer</strong></p>
                    <ul>
                        <li><strong>Backend Functionality Development:</strong> Led the design, development, and seamless implementation of backend functionalities, ensuring robust and scalable solutions. Focused on creating efficient and reliable backend systems.</li>
                        <li><strong>Web Services and Windows Services Development:</strong> Developed web services and Windows services, contributing to the creation of a dynamic and responsive backend infrastructure. Ensured seamless communication and data processing within the system.</li>
                        <li><strong>Image Processing and AI Environment:</strong> Worked proficiently in image processing and AI environments, leveraging advanced technologies to enhance system capabilities. Applied AI principles to optimize backend functionalities and improve overall system performance.</li>
                        <li><strong>SQL Server Expertise:</strong> Demonstrated expertise in SQL Server, actively involved in crafting stored procedures, views, and triggers. Leveraged a deep understanding of database architecture to ensure efficient data handling.
                        </li>
                        <li><strong>Export/Report Feature Enhancement:</strong> Contributed significantly to features related to data export and reporting. Implemented solutions to enhance the backend's reporting capabilities, providing users with valuable insights.
                        </li>
                        <li><strong>Performance Optimization and Debugging:</strong>Took charge of initiatives focused on performance improvement, actively engaging in debugging processes to identify and resolve issues. Applied a meticulous approach to bug-fixing, ensuring the reliability of the backend.</li>
                    </ul>
                    <p>Developer team member: 5</p>

                </div>

            </div>
        </div>
    </div>

</section>

</section>
<section id="lineup" class="lineup section-bg ">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>LineUp Product</u></strong></h4>
            <p>
                Starting time: around 2008, current status: discontinued
            </p>
        </div>
        <div class="container">

            <div class="text-center">
                <img src="~/img/LineUp.png" class="img-fluid" alt="">
                <p class="fst-italic ">LineUp product</p>
            </div>
            <div class="">
                <h5>Introduction</h5>
                <div class="container text-justify-align">
                    <p>
                        <strong>LineUp</strong> was the first version of the Facial Detection and Facial Recognition
                        product. It got camera streams from IP camera to capture the faces(using image processing
                        algorithm) and matching with enrolled watch-list for alerting. It aslo provided the search and
                        report/export ability. It also upload the detections to FaceSearch website to search again the
                        master watch-list
                    </p>
                </div>

                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li>Hot-List Alert</li>
                            <li>White-List Alert</li>
                        </ul>
                    </div>
                    @* <div class="col-lg-6">
                    <ul>
                    <li> <strong>Loitering Object Alert</strong> </li>
                    <li> <strong>PTZ Auto Tracker</strong></li>
                    </ul>
                    </div> *@
                </div>
                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C++(MFC & Standard)</strong></li>
                            <li><strong>C#.Net</strong></li>
                            <li><strong>MySQL</strong> </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Visual Studio </li>
                            <li>Visual SourceSafe</li>
                            <li>Visual Assist</li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Developer</strong></p>
                    <ul>
                        <li>Developed & implemented the software UI and functionalities.</li>
                        <li>Worked in image processing environment, multi-threading, multi-process.</li>
                        <li>Worked relate to camera/video streaming, database, email, images compressing.
                        </li>
                        <li>Worked relate to export/report.
                        </li>
                        <li>Worked relate to performance improvement, debug, and fix-bug.</>
                        </li>
                    </ul>
                    <p>Developer team member: 3</p>
                </div>

            </div>
        </div>
    </div>

</section>
<section id="cssmartzdsp" class="cssmartzdsp">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>CamSmartz-DSP Product (embedded device)</u></strong></h4>
            <p>
                Starting time: around 2006, current status: discontinued
            </p>
        </div>
        <div class="container">
            <div class="text-center">
                <img src="~/img/mangodsp.png" class="img-fluid" alt="">
                <p class="fst-italic">DSP devices</p>
            </div>
            <div class="" data-aos="fade-left">
                <h5>Introduction</h5>
                <div class="container text-justify-align">
                    <p>
                        <strong>CamSmartz DSP</strong> was the product to integrate the Object Analytic Engine into the
                        image processing devices. It can take up to 3 analog camera streams perform object analysis,
                        classification, then send the results to
                        CamSmartz Control Center software for storing and alert. Alerts type supported:
                    </p>
                </div>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li> Intruder Alert</li>
                            <li> Abandoned Object Alert</li>
                            <li> Missing Object Alert </li>

                        </ul>
                    </div>
                    @* <div class="col-lg-6">
                    <ul>
                    <li> <strong>Loitering Object Alert</strong> </li>
                    <li> <strong>PTZ Auto Tracker</strong></li>
                    </ul>
                    </div> *@
                </div>
                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>C++ (Standard)</strong></li>
                            <li><strong>MySQL</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual C++</strong> </li>
                            <li><strong>Code Composer Studio (TI)</strong></li>
                            <li><strong>Visual SourceSafe</strong></li>
                            <li><strong>Visual Assist</strong></li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Developer</strong></p>
                    <ul>
                        <li>Was responsible for creating and integrating software user interfaces and functionalities.</li>
                        <li>Involved utilizing image processing techniques and socket/network programming to ensure smooth camera and video streaming.</li>
                        <li>Worked on tasks related to database management, email communication, video and image compression, and porting the Analytics engine.</li>
                        <li>Worked on export/reporting functionalities, as well as performance improvements, debugging, and fixing bugs.
                        </li>
                    </ul>
                    <p>Developer team member: 3</p>
                </div>

            </div>
        </div>
    </div>

</section>
<section id="cssmartz" class="cssmartz section-bg ">
    <div class="container">
        <div class="section-title">
            <h4><strong><u>CamSmartz Product</u></strong></h4>
            <p>
                Starting time: around 2004, current status: discontinued
            </p>
        </div>
        <div class="container">

            <div class="text-center">
                <img src="~/img/vigilant-staff.jpg" class="img-fluid" alt="">
                <p class="fst-italic center">Vigilant Video startup</p>
            </div>
            <div>
                <h5>Introduction</h5>
                <div class="container text-justify-align">
                    <p>
                        <strong>CamSmartz</strong> was the first product developed by Vigiant Video, which is a
                        commercial security system designed for general use in surveillance cameras. With CamSmartz, you
                        can easily pull video streams from CCTV cameras and perform object analysis, classification, and
                        alerts based on the alert rules using the image processing algorithm. The software also provides
                        event alerts through sound, email, and SMS, and can log events with images and video evidence.
                        CamSmartz is a reliable and efficient tool that can help you keep your premises secure.
                    </p>
                    <div class="container row">
                        <div class="col-lg-6">
                            <ul>
                                <li> Intruder Alert</i>
                                <li> Abandoned Object Alert</i>
                                <li> Missing Object Alert </i>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li> Loitering Object Alert </i>
                                <li> PTZ Auto Tracker</i>
                            </ul>
                        </div>
                    </div>
                </div>

                <h5>Tech Stack and Tool used</h5>
                <div class="container row">
                    <div class="col-lg-6">
                        <ul>
                            <li> <strong>C++(MFC & Standard),DirectShow</strong></li>
                            <li> <strong>Crystal Report</strong></li>
                            <li> <strong>MySQL</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Visual C++</strong> </li>
                            <li><strong>Visual SourceSafe</strong> </li>
                            <li><strong>Visual Assist</strong> </li>
                        </ul>
                    </div>
                </div>
                <h5>Role:</h5>
                <div class="container text-justify-align">
                    <p><strong>Developer</strong></p>
                    <ul>
                        <li>I have effectively developed and implemented software user interfaces and functionalities.</li>
                        <li>My passion in working with image processing environments and multi-threading has helped me excel in tasks related to camera and video streaming, database management, email communication, video and image compression.</li>
                        <li>I have also integrated the Analytics engine (Image Processing algorithm) seamlessly into the system. </li>
                        <li>I have worked on export/report functionalities, and have been heavily involved in performance improvements, debugging, and fixing bugs. </li>
                        <li>My skills and experience make me a valuable asset to any team looking for a competent and dedicated developer.</li>
                    </ul>
                    <p>Developer team member: 4</p>
                </div>

            </div>
        </div>
    </div>

</section>

<div class="dropup position-fixed d-flex bottom-0 end-0 rounded-circle m-5">
    <button type="button" class="btn btn-success btn-lg dropdown-toggle hide-toggle" data-bs-toggle="dropdown"
        aria-expanded="false" aria-haspopup="true">
        <i class="fa-solid fa-plus"></i>
        <span class="visually-hidden">Add Category</span>
    </button>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item scrollto" href="#portfolio">To Top</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#auhpoc">AUH Patrol Project</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#lds">Diagnostic System Product</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#learn">LEARN Product</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#cd">CarDetector Product</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#facesearch">Face-Search Product</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#lineup">Line-Up Product</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#cssmartzdsp">CamSmartz-Dsp Product</a>
        </li>
        <li>
            <a class="dropdown-item scrollto" href="#cssmartz">CamSmartz Product</a>
        </li>

    </ul>
</div>
</div>