@{
  ViewData["Title"] = "Resume";
}
<section id="portfolio" class="portfolio section-bg1 mypage resume">
  <div class="container section-title">
    <h2>@ViewData["Title"]</h2>
    <p>
      <a href="~/img/buidinhbinh_Resume.pdf" class="btn mybtn" download><i class="bi bi-download"></i>Download CV</a>
    </p>
  </div>
</section>
<div class="container">
  <div class="text-center">
    <h3><strong>Dinh Binh Bui</strong></h3>
    <p>(+61)0411794968 ● NSW, Australia ● binhminhtn@gmail.com</p>
  </div>
  <br>
  <p><strong>Results-Driven Senior Developer</strong> <br>
Seasoned Senior Developer with over 10 years of hands-on experience in software development. Adept at crafting robust and user-centric Windows applications, with an additional 6+ years of dedicated work as a full-stack and back-end developer for web applications.</p>
  <br>
  <h4><strong>Work Experience</strong></h4>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 "><strong>SENIOR SOFTWARE DEVELOPER</strong></div>
      <div class="col-lg-6 text-end">
        <p>2011 - 2022</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 "><em>VIGILANT VIDEO COMPANY (A MOTOROLA SOLUTIONS COMPANY)</em></div>
      <div class="col-lg-6 text-end">
        <p>1/1/2023 - Present: Working Remotely</p>
      </div>
    </div>
    <div class="container text-justify-align">
      <ul>
        <li><strong>Led a High-Impact Team</strong> </li>
        <div class="container">
          Orchestrated a four-member team to enhance the license plate classification feature (LPR engine) for the Middle East, achieving a remarkable 90% accuracy. This accomplishment secured a contract worth 1.5 million USD, unlocking vast potential for future projects in the region.
        </div>
        <li><strong>Innovative REST API Integration</strong></li>
        <div class="container">
          Spearheaded the design and development of REST API services, reducing data transfer latency between ANPR software and Police third-party software. This initiative enhanced integration capabilities and streamlined operations.
        </div>
        <li><strong>ANPR SDK Development</strong></li>
        <div class="container" >
          Led a team to design and develop the ANPR SDK, empowering end-users to create customized UIs and interact seamlessly with Vigilant's ANPR features. The SDK has garnered positive feedback from numerous satisfied customers.
        </div>
        <li><strong>ANPR Product Roadmap Adherence</strong></li>
        <div class="container" >
          Developed new features for ongoing ANPR products, aligning with the Product Roadmap deadlines and taking requirements from the US Product Manager. Ensured the maintenance and bug-fixing of released features.
        </div>
        <li><strong>Fullstack Web Application Development</strong></li>
        <div class="container" >
          Designed and developed a comprehensive web application for managing and monitoring the status of all ANPR Cameras and ANPR edge software. Implemented features such as real-time alerts for underperformance or offline cameras.
        </div>
        <li><strong>LEARN Product Contribution</strong></li>
        <div class="container">
          Participated in the development of web application features (Back-end position) for the LEARN product (now Vehicle Manager). The system manages over 1 billion license plate records, offering efficient query and search functions, and advanced analytics features to aid law enforcement.
        </div>
      </ul>
    </div>
    <div class="container">
      <strong>Technology stacks and tools used</strong>
      <ul>
        <li>C#.Net, ASP.Netcore, C++, MVC, Web API, AJAX, JavaScript, JQuery, Bootstrap, HTML</li>
        <li>IIS, RabbitMQ, Jira, GitHub, Git, SQL Server, MySQL, ItextSharp, CrytalReport</li>
      </ul>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 "><strong>SOFTWARE DEVELOPER</strong></div>
      <div class="col-lg-6 text-end">
        <p>2005 - 2010</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 "><em>VIGILANT VIDEO COMPANY</em></div>
      <div class="col-lg-6 text-end">
        </p>
      </div>
    </div>
    <div class="container text-justify-align">
      <ul>
        <li><strong>FR Web-App Back-end Development</strong></li>
        <div class="container">
          Collaborated in the development of robust web application features in a back-end role for a groundbreaking Facial Recognition product. Applied my expertise to deliver advanced functionalities that seamlessly integrate with the product's core capabilities. My contributions in the back-end development ensured the Facial Recognition product remains at the forefront of innovation.
        </div>
        <li><strong>Facial Recognition Solutions</strong></li>
        <div class="container">
          Participated in developing high-performance Windows applications, leveraging advanced techniques in multi-threading and multi-micro-process architectures for an impactful Facial Recognition product.
        </div>
        <li><strong>Embedded DSP Devices</strong></li>
        <div class="container">
          Played a pivotal role in the collaborative development of embedded DSP devices with a specialization in image processing for revolutionary Video Analytic products. My involvement in this dynamic and technically challenging project underscored my commitment to excellence in crafting advanced embedded systems.
        </div>
        <li><strong>Innovative Analytic Win-applications</strong></li>
        <div class="container">
          Engineered high-performance and robust Windows applications, showcasing expertise in multi-threading and pioneering multi-micro-process architectures. Spearheaded the development of cutting-edge Video Analytic products.
        </div>
        
      </ul>
    </div>
    <div class="container">
      <strong>Technology stacks and tools used</strong>
      <ul>
        <li>C++, C#, HTML, JavaScript, CSS</li>
        <li>MySQL, CrytalReport, Visual SourceSafe, TFS</li>
      </ul>
    </div>
  </div>
  <h4><strong>SKILLS</strong></h4>
  <hr>
  <div class="container">

    <div class="container">
      C++ (MFC/Standard): Exp. 6+ years,
      <br>
      C# .Net: Exp. 8+ years,<br>
      OOP: Exp. 8+ years,<br>
      Winforms/WPF: Exp. 6+ years,<br>
      .NetCore/MVC: Exp. 3+ years,<br>
      HTML/CSS/JavaScript: Exp. 4+ years,<br>
      NodeJs/ReactJs: Exp. 1 years,<br>
      Multi-Threading/Process: Exp. 8+ years,<br>
      Rest API / Micro Services: Exp. 4+ years,<br>
      SQL Server/MySQL: Exp. 6+ years
    </div>
    <br>
  </div>
  <h4><strong>EDUCATION</strong></h4>
  <hr>
  <div class="container">
    <strong>Bachelor of Information Technology</strong>
    <div class="container">
      <p><em>Natural Science University, Vietnam</em><br>
        Subjects included: Maths, Object Oriented Programming, Computer Networks, Computer-Architectures, System
        Analysis and Design, System Programming, Data Structures and Database
      </p>
    </div>
    <strong>Certifications/Courses</strong>
    <div class="container">
      <p>PTE 58 <br>Cyber Security for Web Developer <br>Python <br>Flutter <br>DevOps</p>
    </div>
  </div>
</div>
